table {
    font-family: arial, sans-serif;
    font-size: medium;
    border-collapse: collapse;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    width: 90%;

}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

div.add-box {
    margin: 0 auto;
    overflow-x: auto;
}

a.add-element {
    font-size: medium;
    text-align: right;
}

div.add-element {
    margin-right: 5%;
    margin-bottom: 10px;
    float: right;
    border: solid #3c3c3c;
}

div.inner {
    margin: 5px;
}

/*mgmt-form*/

form.mgmt-form {
    display: block;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
